.contacto-page {
    background-color:  map-get($colores, secundario);

    .contacto-title {
        color: map-get($colores, azul-boca); 
    }

    .contacto-text {
        font-size: 1.1rem;
        line-height: 1.6;
    }

    .contacto-form {
        background-color: map-get($colores, secundario);
        padding: 2rem;
        border-radius: 10px;
    }

    .contacto-label {
        font-weight: bold;
    }

    .contacto-input {
        border-radius: 5px;
        border: 1px solid #ddd;
    }

    .contacto-btn {
        min-width: 100px;
    }
}

