header {
    position: sticky;
    top: 0;
    z-index: 1000;

    img {
    width: auto;
    height: 2.5rem;
    }
}

footer {
    background-color: $color-azul-boca;
    color: white;
    padding: 20px 0;

    a {
    color: $color-amarillo;
    font-weight: bold;
    text-decoration: none;

&:hover {
    text-decoration: underline;
    color: white;
    }
}
}

.mi-boton {
    margin-right: 100px;
    color: rgb(2, 16, 221);
    background-color: yellow;
}

@media (max-width: 769px) {
    .bottonContenedor {
    display: flex !important;
    justify-content: center !important;
    }
    .mi-boton {
        margin-right: 0 !important;
    }
}