header {
    position: sticky;
    top: 0;
    z-index: 1000;

    img {
        width: auto;
        height: 2.5rem;
    }
}

footer {
    background-color: map-get($colores, azul-boca);
    color: map-get($colores, secundario);
    padding: 20px 0;

    a {
        color: map-get($colores, amarillo);
        font-weight: bold;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: map-get($colores, secundario);
        }
    }
}

.mi-boton {
    margin-right: 100px;
    color: map-get($colores, azul-boca);
    background-color: map-get($colores, amarillo);
}

@media (max-width: 769px) {
    .bottonContenedor {
        @include centrar-flex;
    }
    .mi-boton {
        margin-right: 0 !important;
    }
}
