.copas {
    width: 200px;
}

.video {
    @include centrar-flex;
    width: $ancho-total;

    .videoYoutube {
        width: 80%;
        max-width: 560px;
        height: 315px;
    }
}

@media (max-width: 769px) {
    .historia-uno {
        @include centrar-flex;
        flex-wrap: wrap !important;

        div:first-child {
            @include centrar-flex;
            width: $ancho-total;
        }

        .img-equipo {
            width: $ancho-total;
            max-width: 400px;
        }

        .invertir {
            flex-direction: column-reverse;
        }
    }
}

.escudo-animado {
    animation: agrandarImagen 1s ease-out;
}

.efecto-hover{
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.3);
    }
}
