@media (max-width: 769px) {
    .bottonContenedor {
        @include centrar-flex;
    }
    .mi-boton {
        margin-right: 0 !important;
    }
}

@keyframes agrandarImagen {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
