.colorSecundario {
    background-color: map-get($colores, secundario);
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "titulo titulo titulo fichaje fichaje"
        "partidos partidos partidos fichaje fichaje"
        "partidos partidos partidos fichaje fichaje"
        "lesion lesion lesion bajas bajas"
        "lesion lesion lesion bajas bajas"
        "lesion lesion lesion bajas bajas";
    gap: .5rem;
    padding: .625rem;

    .dia {
        grid-area: titulo;
        @include centrar-flex;

        h1 {
            font-size: 3rem;
            font-weight: bold;
            color: map-get($colores, amarillo);
            text-shadow: 1px 1px 4px map-get($colores, azul-boca);
        }
    }

    .ultimos-partidos,
    .lesionados,
    .incorporaciones,
    .transferidos {
        background-color: map-get($colores, azul-boca);
        color: map-get($colores, amarillo);
        border: 2px solid map-get($colores, principal);
        border-radius: 12px;
        padding: 1rem;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    }

    .ultimos-partidos { grid-area: partidos; }
    .lesionados { grid-area: lesion; }
    .incorporaciones { grid-area: fichaje; }
    .transferidos { grid-area: bajas; }
}

// MEDIA QUERY RESPONSIVE
@media (max-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            "titulo titulo"
            "partidos partidos"
            "lesion lesion"
            "fichaje fichaje"
            "bajas bajas";
    }
}
