.colorPrincipal {
    background-color: map-get($colores, principal);
}

.colorSecundario {
    background-color: map-get($colores, secundario);
}

h1, h2, h3, h4 {
    font-family: $fuente-principal;
}

p, a {
    font-family: $fuente-secundaria;
}

.titulos-p {
    color: map-get($colores, secundario);
}
